.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  flex: 1 1 0;
  background-color: hsl(220deg 13% 13%);
  color: white;
}

.App-link {
  color: #61dafb;
}

.class-item {
  padding: 20px;
  margin: auto;
  width: 200px;
  /* left: -20%; */
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 40px;
  position: relative;
}

.class-met {
  background-color: #d4edda; 
  color: #155724; 
}

.class-not-met {
  background-color: #f8d7da; 
  color: #721c24; 
}

.class-requirements {
  margin-top: 10px;
  padding: 10px;
  padding: 20px;
  margin: auto;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: hsl(220deg 13% 13%);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
  color: red;
}

.close-button:hover {
  color: #555;
}

.class-item {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
